# Conexion base de datos SQl

In [37]:
from sqlalchemy import create_engine, text
from dotenv import load_dotenv
import os
import pandas as pd

# Cargar variables de entorno
load_dotenv()

# Conectarse a la base de datos
DB_URL = os.getenv("DB_URL")
engine = create_engine(DB_URL)


# Crear tablas
with engine.connect() as connection:
    connection.execute(text("""
        CREATE TABLE IF NOT EXISTS publishers (
            publisher_id INT NOT NULL,
            name VARCHAR(255) NOT NULL,
            PRIMARY KEY(publisher_id)
        );

        CREATE TABLE IF NOT EXISTS authors(
            author_id INT NOT NULL,
            first_name VARCHAR(100) NOT NULL,
            middle_name VARCHAR(50) NULL,
            last_name VARCHAR(100) NULL,
            PRIMARY KEY(author_id)
        );

        CREATE TABLE IF NOT EXISTS books(
            book_id INT NOT NULL,
            title VARCHAR(255) NOT NULL,
            total_pages INT NULL,
            rating DECIMAL(4, 2) NULL,
            isbn VARCHAR(13) NULL,
            published_date DATE,
            publisher_id INT NULL,
            PRIMARY KEY(book_id),
            CONSTRAINT fk_publisher FOREIGN KEY(publisher_id) REFERENCES publishers(publisher_id)
        );

        CREATE TABLE IF NOT EXISTS book_authors (
            book_id INT NOT NULL,
            author_id INT NOT NULL,
            PRIMARY KEY(book_id, author_id),
            CONSTRAINT fk_book FOREIGN KEY(book_id) REFERENCES books(book_id) ON DELETE CASCADE,
            CONSTRAINT fk_author FOREIGN KEY(author_id) REFERENCES authors(author_id) ON DELETE CASCADE
        );
    """))
    print("Tablas creadas ")

Tablas creadas

In [40]:
statements = """
INSERT INTO publishers(publisher_id, name) VALUES (1, 'O Reilly Media');
INSERT INTO publishers(publisher_id, name) VALUES (2, 'A Book Apart');
INSERT INTO publishers(publisher_id, name) VALUES (3, 'A K PETERS');
INSERT INTO publishers(publisher_id, name) VALUES (4, 'Academic Press');
INSERT INTO publishers(publisher_id, name) VALUES (5, 'Addison Wesley');
INSERT INTO publishers(publisher_id, name) VALUES (6, 'Albert&Sweigart');
INSERT INTO publishers(publisher_id, name) VALUES (7, 'Alfred A. Knopf');

INSERT INTO authors (author_id, first_name, middle_name, last_name) VALUES (1, 'Merritt', NULL, 'Eric');
INSERT INTO authors (author_id, first_name, middle_name, last_name) VALUES (2, 'Linda', NULL, 'Mui');
INSERT INTO authors (author_id, first_name, middle_name, last_name) VALUES (3, 'Alecos', NULL, 'Papadatos');
INSERT INTO authors (author_id, first_name, middle_name, last_name) VALUES (4, 'Anthony', NULL, 'Molinaro');
INSERT INTO authors (author_id, first_name, middle_name, last_name) VALUES (5, 'David', NULL, 'Cronin');
INSERT INTO authors (author_id, first_name, middle_name, last_name) VALUES (6, 'Richard', NULL, 'Blum');
INSERT INTO authors (author_id, first_name, middle_name, last_name) VALUES (7, 'Yuval', 'Noah', 'Harari');
INSERT INTO authors (author_id, first_name, middle_name, last_name) VALUES (8, 'Paul', NULL, 'Albitz');

INSERT INTO books (book_id, title, total_pages, rating, isbn, published_date, publisher_id) VALUES (1, 'Lean Software Development: An Agile Toolkit', 240, 4.17, '9780320000000', '2003-05-18', 5);
INSERT INTO books (book_id, title, total_pages, rating, isbn, published_date, publisher_id) VALUES (2, 'Facing the Intelligence')"""

In [41]:
# Eliminar tablas si existen (en orden adecuado por dependencias)
with engine.connect() as connection:
    connection.execute(text("DROP TABLE IF EXISTS book_authors"))
    connection.execute(text("DROP TABLE IF EXISTS books"))
    connection.execute(text("DROP TABLE IF EXISTS authors"))
    connection.execute(text("DROP TABLE IF EXISTS publishers"))
    print("Tablas eliminadas ")

Tablas eliminadas